<div class="container_fluid">
  <div class="row-fluid">
    <div class="logo">Picmarks</div>
  </div>
  
      
  </div>
  <div class ="row-fluid" id="site_hero">
    <h1>Bookmark your favorite photos to come back to later and enjoy.</h1>
  </div>
  
  
  <div class="row-fluid">
    <div class ="span12">
      <a href ="/pictures" class ="btn btn-default btn-large">View Photos</a>
      <a href ="/pictures/new" class = "btn btn-default btn-large">Submit Photos</a>
    </div>
  </div>
</div>