<div class="container_fluid">
  <div class="row-fluid">
    <h1>My Picmarks</h1>
  </div>
  
  <div clss="container_fluid">
    <div class="row-fluid">
      <h5><%= @count %> Photos</h5>
      <a href="pictures/new" class="btn btn-info">Add New Photo</a>
    </div>
  </div>
  

<ul>
  
  <% @pictures.each do |p| %>
    <li class="span3 my_photos"><img src="<%= p.url %>">
      <p><%= p.title %></p><a href="/pictures/delete/<%= p.id %>" class="btn btn-danger">delete</a>
    </li>
  <% end %>

</ul>


</div>
