<div class="container_fluid">
  <div class="row-fluid">
    <div class="span12">
      <div id="submit_form">
        <div class="form_header"><h2>Submit a Photo</h2></div>
        <form action="/pictures" method="post">
          <h4>URL:</h4> <input type="text" name="url" id="submit_feilds"><br>
          <h4>CAPTION:</h4> <input type="text" name="title" id="submit_feilds">
          <div class="form_footer">
            <a href="/" class="btn btn-default">Cancel</a>
            <input type="submit" name="submit" value="Submit Form" class="btn btn-info">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>